<ul>
    <li><a href="/users" class="{% if request.path.startswith('/user') %}active{% endif %}">User</a></li>
    <li><a href="/orders" class="{% if request.path.startswith('/orders') %}active{% endif %}">Order</a></li>
    <li><a href="/orderItems" class="{% if request.path.startswith('/orderItems') %}active{% endif %}">Order Item</a></li>
    <li><a href="/items" class="{% if request.path.startswith('/item') %}active{% endif %}">Item</a></li>
    <li><a href="/stores" class="{% if request.path.startswith('/store') %}active{% endif %}">Store</a></li>
</ul>
