<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
    <!-- 이쁘게 사용자를 출력한다 -->
     <ul>
        {% for u in users %}
        <li>
            {{u.id}}-{{u.name}} ({{u.age}}세, {{u.phone}})<br>
        </li>
        {% endfor %}
     </ul>
      <div>
        {% if prev_page %}
            <a href="/?page={{prev_page}}">Previous</a>
        {% endif %}

        {% if next_page %}
            <a href="/?page={{next_page}}">Next</a>
        {% endif %}
    </div>
</body>
</html>