ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color:  #f1f1f1;
    border: 1px solid #555;
}
li {
    flex: 1;
    width: 100px;
    text-align: center;
}
li a {
    text-decoration: none;
    padding: 12px 15px;
    display: block; /*전체 영역을 클릭 가능한 영역으로*/
}
li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #555;
    color: white;
}
#listbar {
    margin-top: 30px;
}
table {
margin-top: 25px;
border-collapse: collapse;
width: 100%;
}
th, td {
    padding: 12px 24px;
    text-align: center;
    border: 1px solid #ccc;
}
#options {
    width: 80px;
    height: 30px;
    margin-right: 5px;
}
#name {
    width: 100px;
    height: 24.5px;
}
#button {
    width: 60px;
    height: 29.5px;
}
.movebutton {
    text-decoration: none;
    color: black;
    padding: 4px 10px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 4px;
    background-color: rgb(247, 245, 245);
    margin: 0 5px;
    display: inline-block;
}
.pagination {
    display:flex;
    justify-content: center;
    margin-top: 15px;
}
.moveto{
    text-decoration: none;
    padding: 4px 10px;
    color:black
}
.movebutton.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
.dots {
    padding: 0 6px;
    color: gray;
}
#top5 {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    background-color: transparent;  
    border: none;
    display: block;
}

#top5 li {
    padding: 5px 5px;
    white-space: nowrap; 
}
