<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='web.css')}}">
</head>
<body>
    {% include "components/listbar.html" %}
    상품 주문 매장 정보
    <table>
        <tr>
            <td>Name</td>
            <td>Types</td>
            <td>Address</td>
        </tr>
        {% for item in store %}
        <tr>
            <td>{{item.Name}}</td>
            <td>{{item.Type}}</td>
            <td>{{item.Address}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    월간 매출액
    <table>
        <tr>
            <th>월</th>
            <th>판매 건수</th>
            <th>총 매출액</th>
        </tr>
    {% for m in monthly_data %}
    <tr>
        <td>{{ m['time'] }}</td>
        <td>{{ m['total'] }}</td>
        <td>{{ m['count'] }}</td>
    </tr>
    {% endfor %}
    </table>
    <br>
    단골 고객
    <table>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Frequency</th>
        </tr>
        {% for r in regular_customers %}
        <tr>
            <td>{{ r['Id'] }}</td>
            <td>{{ r['Name'] }}</td>
            <td>{{ r['Count'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>