<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='web.css')}}">
</head>
<body>
    {% include "components/listbar.html" %}
    <!-- <form id="listbar" method="POST">
     -->
    <form id="listbar">    
            Name: <input type="text" id="name" name="name" placeholder="이름 입력" value="{{ name }}">
            Gender: 
            <select id="options" name="gender">
                <option value="" {% if gender == "" %}selected{% endif %}>성별 선택</option>
                <option value="female" {% if gender == "female" %}selected{% endif %}>Female</option>
                <option value="male" {% if gender == "male" %}selected{% endif %}>Male</option>
            </select>
            <button type="submit" id="button">Submit</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthday</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                <a href="/user_detail?id={{ user.Id }}" style="text-decoration: none; color: rgb(74, 74, 248);">{{ user.Id }}</a>
            </td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Gender }}</td>
            <td>{{ user.Age }}</td>
            <td>{{ user.Birthdate }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% include "components/pagination.html" %}

</body>
</html>


