<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='web.css')}}">
</head>
<body>
    {% include "components/listbar.html" %}
    <form id="listbar">
        <select id="options" name="type">
            <option value="" {% if type == "" %}selected{% endif %}>종류 선택</option>
            <option value="Coffee" {% if type == "Coffee" %}selected{% endif %}>커피</option>
            <option value="Cake" {% if type == "Cake" %}selected{% endif %}>케이크</option>
            <option value="Juice" {% if type == "Juice" %}selected{% endif %}>주스</option>
        </select>
        <button type="submit" id="button">Submit</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Unit Price</th>
        </tr>
        {% for i in items %}
        <tr>
            <td><a href="/item_detail?id={{ i.Id }}" style="text-decoration:none; color: rgb(74, 74, 248)">{{ i.Id }}</a></td>
            <td>{{ i.Name }}</td>
            <td>{{ i.Type }}</td>
            <td>{{ i.UnitPrice }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% include "components/pagination.html" %}
</body>
</html>