body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #2c3e50;
}

h2, p {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  color: blue;
  font-size: 20px;
  margin-top: 30px;
}

.habit1 {
  color: orange;
  font-weight: bold;
}

.habit2 {
  color: #22aa99;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.7;
  white-space: pre-line;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
